.button {
  text-align: center;
  text-decoration: none;
  color: blue;
  font-weight: normal;
  background-color: #ffffff;
  cursor: pointer;
}

.cellButton {
  position: relative;
  top: 0px;
  right: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.independentButton {
  cursor: pointer;  
  width: 40px;
  margin: 0px 2px 0px 0px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
}

.button:active {
  background-color: #909090;
}

.button:focus {
  outline: none;
  background-color: #eeeeee;
}
