.cell {
  float: left;
  background: #ffffff;
  margin: -1px -1px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: table-cell;
  border: 1px solid #999999;
}

.cellInput {
  text-align: center;
  font-size: 10px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: table-cell;
  border: none;
}

.cellInput:focus {
  outline: none;
  background: #eeeeee;
}

.header {
  font-weight: bold;
}

.row {
  display: table-row;
}

.dataGrid {
  display: table;    
}

.button {
  text-align: center;
  text-decoration: none;
  color: blue;
  font-size: 10px;
  font-weight: normal;
  background-color: #ffffff;
  cursor: pointer;
}

.cellButton {
  position: relative;
  top: 0px;
  right: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: table-cell;
  border: none;
}

.button:active {
  background-color: #909090;
}

.button:focus {
  outline: none;
  background-color: #eeeeee;
}

.independentButton {
  cursor: pointer;  
  height: 15px;
  width: 40px;
  margin: 0px 0px 0px 2px;
  padding: 0px 4px 0px 4px;
  display: inline-block;
  border: 1px solid #999999;
}
